.jumbotron {
  background-size: cover;
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-normal {
  font-weight: 400;
}

.font-weight-light {
  font-weight: 300;
}

.highlight {
  padding: 10px;
}

.highlight pre {
  margin: 0px;
}

.categories ul {
	list-style-type: none;
	padding: 0;
  margin-bottom: 0;
}

.categories li {
	display: inline;
}

.categories li:not(:first-child):before {
    content: " | ";
}